node_modules
.cache/
.yarn/cache
dist
.yarnrc.yml
packages/**/dist
.history

# misc
.DS_Store
yarn-error.log
npm-debug.log
stats.json
package-lock.json

# IDEs configs
.idea/
.idea/**
.vscode/
.vscode/**
*.iml
.history

# tests
coverage

# storybook
storybook-static
